button {
    padding: 5px;
    margin: 10px;
    color: pink;
    background-color: grey;
}

.container {
    border:  1px solid purple;
}

.container {
    display: grid;
    position: absolute;
    background-color: white;
    width: 100%;
    max-width: 960px;
    height: 100%;
}